.Button {
  &.default {
    font-size: 24px;
    font-family: var(--font-1);
    background-color: var(--color-tan);
    color: var(--color-dark-blue);
    border: none;
    box-shadow: 0px 0px 0px 2px var(--color-dark-blue);
    &:hover {
      background-color: var(--color-dark-tan);
      color: var(--color-blue);
      box-shadow: 0px 0px 0px 2px var(--color-blue);
    }
  }
  transition: all 1s ease-out;
  border-radius: 12px;
  padding: 2px 16px;
  margin: 5px;
}
