.Button {
  &.default {
    font-size: 24px;
    font-family: var(--font-1);
    background-color: var(--color-tan);
    color: var(--color-dark-blue);
    border: none;
    box-shadow: 0px 0px 0px 2px var(--color-dark-blue);
    &:hover {
      background-color: var(--color-tan--focus);
      color: var(--color-dark-blue--focus);
      box-shadow: 0px 0px 0px 2px var(--color-dark-blue--focus);
    }
  }
  &.action {
    font-size: 24px;
    font-family: var(--font-1);
    background-color: var(--color-orange);
    color: var(--color-dark-blue);
    border: none;
    box-shadow: 0px 0px 0px 2px var(--color-dark-blue);
    &:hover {
      background-color: var(--color-orange--focus);
      color: var(--color-dark-blue--focus);
      box-shadow: 0px 0px 0px 2px var(--color-dark-blue--focus);
    }
  }
  &:disabled {
    font-size: 24px;
    font-family: var(--font-1);
    background-color: var(--color-disabled-bg);
    color: var(--color-disabled-font);
    border: none;
    box-shadow: 0px 0px 0px 2px var(--color-disabled-font);
    &:hover {
      background-color: var(--color-disabled-bg);
      color: var(--color-disabled-font);
      box-shadow: 0px 0px 0px 2px var(--color-disabled-font);
    }
  }
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
  padding: 2px 16px;
  margin: 5px;
}
