.HeaderLinkGroupMobile {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #161616; /*todo style var*/
  min-width: 160px;
  box-shadow: 0px 0px 0px 2px rgb(70, 70, 70); /*todo style var*/
  padding: 12px 16px;
  z-index: 1;
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  border-radius: 4px; /*todo style var*/
}

.dropdown-menu li a {
  padding: 12px 16px;
  display: block;
}
