/* .HeaderLinkGroupMobile {
  font-size: 24px;
  font-family: var(--font-1);
  display: flex;
} */

.HeaderLinkGroupMobile {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.dropdown-menu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}
