#root {
  background-color: var(--color-background);
  color: var(--color-text-main);
  height: 100vh;
  * {
    box-sizing: border-box;
  }
}
*:focus-visible {
  outline: 4px solid var(--color-focus);
}

html {
  scroll-behavior: smooth;
}

.visable {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
.invisable {
  opacity: 0.2;
  transition: opacity ease-in-out 0.5s;
}
