#root {
  background-color: var(--color-background);
  color: var(--color-text-main);
  height: 100vh;
  * {
    box-sizing: border-box;
  }
}
*:focus-visible {
  outline: 4px solid var(--color-focus);
}

html {
  scroll-behavior: smooth;
}

.visable {
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
.invisable {
  opacity: 0.2;
  transition: opacity ease-in-out 0.5s;
}

/* this is for auto scroll to account for header height */
.section {
  scroll-margin-top: 60px;
}

/* body to bg color changes android button color */
body {
  background-color: #000000;
}
