#root {
  background-color: var(--color-background);
  height: 200px;
  height: 100vh;
  * {
    box-sizing: border-box;
  }
}

h1 {
  font-family: var(--font-1);
}

*:focus-visible {
  outline: 4px solid var(--color-focus);
}
