#root {
  /* Colors */
  /* --color-red: #f00; */
  /* --color-green: #0f0; */
  /* --color-blue: rgb(0, 68, 255); */

  /* Color Theme Swatches in RGBA */
  --color-blue: rgba(2, 94, 114, 1);
  --color-dark-blue: rgba(0, 31, 38, 1);
  --color-dark-tan: rgba(165, 165, 145, 1);
  --color-tan: rgba(191, 183, 143, 1);
  --color-orange: rgba(242, 166, 26, 1);

  --color-accent: var(--color-orange);
  --color-background: var(--color-dark-tan);

  /* Font */
  /* -- Family --*/
  /*  
  --- import into the main "index.html" file  ---   
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong"
    />
  */
  --font-1: "Audiowide", sans-serif;
  --font-2: "Sofia", sans-serif;
  --font-3: "Trirong", serif;

  font-family: var(--font-1), var(--font-2), var(--font-3);

  /* Sizes */
  --size-1: 4px;
  --size-2: 8px;
  --size-3: 10px;
  --size-4: 16px;
  --size-5: 20px;
}
