/* isDesktop */
#root {
  /* Colors */
  /* -- Color Theme Swatches in RGBA -- */
  --color-blue: rgba(2, 94, 114, 1);
  --color-blue--focus: rgb(5, 123, 150);
  --color-dark-blue: rgba(0, 31, 38, 1);
  --color-dark-blue--focus: rgb(5, 73, 88);
  --color-dark-tan: rgba(165, 165, 145, 1);
  --color-dark-tan--focus: rgb(190, 190, 169);
  --color-tan: rgba(191, 183, 143, 1);
  --color-tan--focus: rgb(221, 212, 168);
  --color-orange: rgba(242, 166, 26, 1);
  --color-orange--focus: rgb(252, 184, 58);

  --color-accent: var(--color-orange);
  --color-background: rgb(12, 12, 12);

  --color-disabled-bg: rgb(141, 141, 141);
  --color-disabled-font: rgb(94, 94, 94);

  /* -- Universal Messaging -- */
  --color-error: rgb(218, 22, 22);
  --color-success: rgb(4, 170, 4);
  --color-warning: rgb(231, 143, 27);
  --color-info: rgb(43, 168, 240);
  --color-focus: rgb(66, 180, 247);
  --color-white: rgb(228, 228, 225);
  --color-black: rgb(51, 51, 51);

  /* text colors */
  --color-text-subtle: rgb(126, 125, 125);
  --color-text-main: rgb(228, 228, 225);
  /* Font */
  /* -- Family --*/
  /*  
  --- import into the main "index.html" file  ---   
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong"
    />
  */
  --font-1: "Audiowide", sans-serif;
  --font-2: "Sofia", sans-serif;
  --font-3: "Trirong", serif;
  --font-4: "Open Sans";

  font-family: var(--font-4), var(--font-2), var(--font-1);

  /* Sizes */
  --size-4: 4px;
  --size-8: 8px;
  --size-10: 10px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
}

/* isDesktop */
#root {
  --text-size-1: 0.96rem;
  --text-size-2: 1rem;
  --text-size-3: 1.25rem;
  --text-size-4: 1.5rem;
  --text-size-5: 3rem;
  --text-size-6: 6rem;
}

/* isTablet*/
@media screen and (min-width: 641px) and (max-width: 1024px) {
  #root {
    --text-size-1: 0.96rem;
    --text-size-2: 1rem;
    --text-size-3: 1.15rem;
    --text-size-4: 1.25rem;
    --text-size-5: 2rem;
    --text-size-6: 4rem;
  }
}

/* isMobile*/
@media screen and (max-width: 640px) {
  #root {
    --text-size-1: 0.96rem;
    --text-size-2: 1rem;
    --text-size-3: 1.1rem;
    --text-size-4: 1.18rem;
    --text-size-5: 1.75rem;
    --text-size-6: 3rem;
  }
}
