.More {
  height: 80px;
  grid-area: more;
  > div {
    > .container {
      display: grid;
      grid-template-areas: "title ";
      grid-template-columns: 1fr;
      > .title {
        cursor: pointer;
        grid-area: "title";
        display: flex;
        font-size: var(--size-32);
        > .arrow {
          transition: rotate 0.25s ease-in-out;
          margin-right: var(--size-8);
          &.isOpen {
            rotate: -0.25turn;
          }
        }
      }
    }
  }
}
