.More {
  height: 80px;
  grid-area: more;
  > div {
    > .container {
      display: grid;
      grid-template-areas: "title  filters  search";
      grid-template-columns: 1fr 1fr 260px;
      > .title {
        cursor: pointer;
        grid-area: "title";
        display: flex;
        font-size: var(--size-32);
        > .arrow {
          transition: rotate 0.25s ease-in-out;
          margin-right: var(--size-8);
          &.isOpen {
            rotate: -0.25turn;
          }
        }
      }
      > .filters {
        grid-area: "filters";
        display: flex;
        justify-self: end;
        width: 100%;
      }
      > .search {
        grid-area: "search";
        display: flex;
        width: 260px;
        justify-self: end;
      }
    }
  }

  > .slide-out {
    margin-top: 20px;
    transition: 0.4s;
    height: 400px;
    max-height: 0;
    overflow: hidden;

    > div {
      width: 100%;
    }

    &.isOpen {
      padding: 2px;
      display: flex;
      max-height: 400px;
    }
  }
}
