.About {
  padding: var(--space-8);
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px auto 80px 80px;
  grid-template-areas:
    "title     title    description   description   description   description  "
    "picture   picture  description   description   description   description  "
    "timeline  timeline timeline      timeline      timeline      timeline   "
    "info      info     info           more         more          more  ";
  > .title {
    grid-area: title;
    height: 80px;
    .header {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size: var(--size-32);
      font-weight: bold;
    }
  }
  .picture {
    grid-area: picture;
    display: flex;
    .container {
      overflow: hidden;
      border-radius: var(--border-radius);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .info {
    grid-area: info;
    height: 80px;
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--space-8);
      > .address {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-size: var(--size-18);
        text-align: center;
        line-height: 1.4rem;
      }
    }
  }
  .more {
    height: 80px;
    grid-area: more;
    .container {
      overflow: hidden;
      height: 100%;
      padding: var(--space-12);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      > .title {
        font-size: var(--size-20);
        margin-top: 20px; /*unique style*/
      }
      .cards {
        display: flex;
        gap: 6px;
        width: 100%;
        .trait-card {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          background-color: var(--color-inner-card-background);
          height: 70px;
          position: relative;
          border-radius: var(--border-radius);
          top: 16px;
          padding: var(--space-8);
          box-shadow: 0px 0px 0px 2px var(--color-inner-card-border);
          .title {
            font-size: var(--size-18);
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* isMobile*/
@media screen and (max-width: 768px) {
  .About {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 80px auto auto 80px 80px;
    grid-template-areas:
      "title "
      "picture "
      "description"
      "timeline"
      "info "
      "more";
  }
}
