.About {
  /* max-width: 1200px; */
  background-color: none;
  padding: 10px;
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-areas:
    "title    title    title   desc   desc   desc  "
    "picture  picture  picture   desc   desc   desc  "
    "bar      bar      bar    bar    bar    bar   "
    "info     info     info   more   more   more  ";
  .title {
    grid-area: title;
    height: 80px;
  }
  .desc {
    grid-area: desc;
  }
  .picture {
    grid-area: picture;
  }
  .bar {
    grid-area: bar;
    height: 80px;
    .timeline {
      width: 100%;
      padding: 16px;

      .entries {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .entry {
          z-index: 200;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 64px;
          width: 80px;
          background-color: rgb(44, 44, 44);
          border-radius: 4px;
          box-shadow: 0px 0px 0px 2px var(--color-disabled-font);
          .title {
          }
          .icon {
            height: 20px;
            width: 20px;
            background-color: burlywood;
          }
          .date {
          }
        }
      }
      .connector {
        z-index: 1;
        background-color: rgb(80, 157, 230);
        height: 2px;
        width: 100%;
        position: relative;
        top: 30px;
      }
    }
  }
  .info {
    grid-area: info;
    height: 80px;
  }
  .more {
    grid-area: more;
    height: 80px;
  }
}

/* isMobile*/
@media screen and (max-width: 768px) {
  .About {
    grid-template-areas:
      "title "
      "picture "
      "desc"
      "bar"
      "info "
      "more";
  }
}
