.About {
  padding: var(--space-8);
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px auto 80px 80px;
  grid-template-areas:
    "title     title    description   description   description   description  "
    "picture   picture  description   description   description   description  "
    "timeline  timeline timeline      timeline      timeline      timeline   "
    "location      location     location           more         more          more  ";
}

/* isMobile*/
@media screen and (max-width: 768px) {
  .About {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 80px auto auto 80px 80px;
    grid-template-areas:
      "title "
      "picture "
      "description"
      "timeline"
      "location "
      "more";
  }
}
