.Card {
  font-size: 24px;
  font-family: var(--font-1);
  background-color: var(--color-tan);
  color: var(--color-dark-blue);
  border: none;
  box-shadow: 0px 0px 0px 2px var(--color-dark-blue);
  &:hover {
    background-color: var(--color-tan--focus);
    color: var(--color-dark-blue--focus);
    box-shadow: 0px 0px 0px 2px var(--color-dark-blue--focus);
  }
  width: 260px;
  height: 300px;
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
  padding: var(--size-16);
  margin: 5px;
}
