.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(24, 24, 24); /* todo style */
  height: 100%;
  width: 100%;
  gap: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px rgb(50, 50, 50); /* todo style */
  &:hover {
    box-shadow: 0px 0px 0px 2px rgb(88, 88, 88); /* todo style */
  }
}
