.Preview {
  background-color: pink;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header      header"
    "leftRail    content";
  grid-template-columns: 260px 1fr;
  grid-template-rows: 60px 1fr;

  .Header {
    background-color: var(--color-dark-blue);
    grid-area: header;
    width: 100%;
    color: var(--color-blue);
    display: flex;
    align-items: center;
    padding: var(--size-16);
  }
  .LeftRail {
    background-color: var(--color-dark-blue);
    grid-area: leftRail;
    padding: var(--size-16);
    color: var(--color-blue);
  }
  .Content {
    background-color: var(--color-dark-tan);
    grid-area: content;
    .SectionButtons {
      display: flex;
    }
    .SectionCards {
      display: flex;
    }
  }
}
