.MoreSkills {
  grid-area: more-skills;
  display: flex;
  height: 0px;
  transition: height 0.25s ease-in-out;
  overflow: hidden;
  &.isOpen {
    height: 400px;
  }
  > .card-container {
    width: 100%;
    overflow: hidden;
    padding: 2px;
    > .Card {
      > .container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-10);
        padding: var(--size-10);
      }
    }
  }
}
