.Carousel {
  background-color: rgb(94, 94, 94); /* todo variable */
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
  }
  > .arrow {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    z-index: 1;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    > .Button {
      background-color: rgba(166, 167, 166, 0.664); /* todo variable */
      cursor: pointer;
      fill: var(--color-black);
      padding: 6px;
      border: none;
      display: flex;
      transition: all 0.2s ease-in-out;
      border-radius: 50%;
      &:hover {
        background-color: rgba(166, 167, 166, 0.9); /* todo variable */
      }
    }
  }
  > .slide-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > .slide {
      object-fit: scale-down;
      max-height: 100%;
      max-width: 100%;
      opacity: 1;
      position: absolute;
      transition: opacity ease-out 0.25s;
      &.inactive {
        opacity: 0;
      }
    }
  }

  > .indicators {
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    bottom: 12px;
    gap: 10px;
    z-index: 1;
    > .indicator {
      cursor: pointer;
      height: 16px;
      width: 16px;
      background-color: rgba(240, 240, 240, 0.9); /* todo variable */
      border-radius: 50%;
      &.inactive {
        background-color: rgba(166, 167, 166, 0.664); /* todo variable */
      }
    }
  }

  > .fullscreen-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(166, 167, 166, 0.664); /* todo variable */
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    fill: var(--color-black);
    &:hover {
      background-color: rgba(166, 167, 166, 0.9); /* todo variable */
    }
  }
}
