.AppMain {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 70vh;
  .section-container {
    align-self: center;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    width: 100%;
  }
}
