.More {
  height: 80px;
  width: 100%;
  grid-area: more;
  > div {
    > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      > .title {
        display: flex;
        justify-content: center;
        line-height: 32px;
        font-weight: none;
      }
      > .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: var(--size-20);
      }
    }
  }
}
