.More {
  height: 80px;
  width: 100%;
  grid-area: more;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    > .title {
      display: flex;
      justify-content: center;
    }
    > .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: var(--size-18);
    }
  }
}
