.AppHeader {
  background-color: var(--color-blue);
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: var(--size-10);
  justify-content: space-between;
  .LeftActions {
    display: flex;
    align-items: center;
    gap: var(--size-4);
    color: var(--color-white);
    font-size: var(--size-24);
  }
}
